@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
}
.background {
  background-color: antiquewhite;
  padding: 50px 0; 
}
.container{
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.uppercase{
  text-transform: uppercase;
  
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align: right;
}
input , button{
  outline: none;
  border: none;
  background-color: none;
}
.row{
  width:50%;
}
.icon-circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgb(188, 228, 79);
  margin-left: 20px;
  text-align: center; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.boxShadow{
  box-shadow: rgba(69, 45, 43, 0.1) 0px 4px 16px;
}
/*__________________category______________________*/
.contentWidth{
width: 77%;
}
.category {
  width: 20%;
  box-shadow: rgba(177, 185, 201, 0.1) 0px 4px 16px;
  height: 400px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  display: inline;
}
.category img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  object-fit: contain;
  
}
.category span{
  margin:auto;
  font-size: 17px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
}
.category .box{
  height: 40px;
  transition: 0.5s;
  padding: 0 20px;  
} 
.category .box:hover{
  background-color: rgb(248, 232, 232);
  cursor: pointer;
}
.sellcard{
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: rgba(177, 185, 201, 0.1) 0px 4px 16px;
  padding: 20px;
  margin-top: 20px;
  justify-content: center;
}
.sellcard .box{
  height: 50px;
  justify-content: center;
  transition: 0.5s;
  padding: 0 20px;
  display: flex;
  border: 2px solid grey;
  padding: 20px; 
   
}
.sellcard .box:hover{
  background-color: rgb(248, 232, 232);
  cursor: pointer;
}
.sellcard .pname{
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 20px;
}
.sellcard .unitprice{
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 20px;
}
.sellcard .qty{
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 20px;
}
.sellcard .pid{
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 20px;
}