@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
}
.background {
  background-color: antiquewhite;
  padding: 50px 0; 
}
.container{
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.uppercase{
  text-transform: uppercase;
  
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align: right;
}
input , button{
  outline: none;
  border: none;
  background-color: none;
}
.row{
  width:50%;
}
.icon-circle{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgb(188, 228, 79);
  margin-left: 20px;
  text-align: center; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.boxShadow{
  box-shadow: rgba(69, 45, 43, 0.1) 0px 4px 16px;
}
/*__________________category______________________*/
.contentWidth{
width: 77%;
}
.category {
  width: 20%;
  box-shadow: rgba(177, 185, 201, 0.1) 0px 4px 16px;
  height: 400px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  display: inline;
}
.category img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  object-fit: contain;
  
}
.category span{
  margin:auto;
  font-size: 17px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
}
.category .box{
  height: 40px;
  transition: 0.5s;
  padding: 0 20px;
  display: flex;  
} 
.category .box:hover{
  background-color: rgb(248, 232, 232);
  cursor: pointer;
}
.sellcard{
  width: 1000px;
  height: 600px;
  margin-top: 10px;
  
  padding: 20px;
  align-items: center;


  margin-bottom: 10px;
  display:inline;
}
.sellcard .box{
  height: 50px;
  transition: 0.5s;
  display: flex;
  background-color: rgb(224, 240, 235);
  box-shadow: rgba(177, 185, 201, 0.1) 0px 4px 16px;
;
   
}
.sellcard .box:hover{
  background-color: rgb(248, 232, 232);
  cursor: pointer;
}
.sellcard .pname{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  justify-content: center;
  margin-left: 50px;
}
.sellcard .unitprice{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 50px;
}
.sellcard .qty{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 50px;
}
.sellcard .pid{
  margin-top: 10px;
  font-size: 20px;
  font-family: 'PT Serif', serif; 
  text-transform: capitalize;
  margin-left: 50px;
  margin-right: 50px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
	width: 100%;
  background: rgb(117,84,160);
  background: linear-gradient(90deg, rgba(117,84,160,1) 7%, rgba(117,84,160,1) 17%, rgba(106,95,168,1) 29%, rgba(99,103,174,1) 44%, rgba(87,116,184,1) 66%, rgba(70,135,198,1) 83%, rgba(44,163,219,1) 96%, rgba(22,188,237,1) 100%, rgba(0,212,255,1) 100%);  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 400px;  
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  width: 100%;
  font-size: 2.3em;;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: rgb(196, 199, 247);
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 8px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 100%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
