@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*________________head______________________*/
.head{
    background-color: rgb(180, 154, 6);
    padding: 8px 0;
    color: #fff;    
}
.head i {   
    margin-right: 13px; 
    font-size: 25px;
}
.head label{
    font-size: 15px;
    margin-right: 20px;
}
/*________________head______________________*/
/*________________Serch______________________*/
.search{
    padding: 20px 0;
    color: #fff;    
}
.search .logo{
    width: auto;
    height: auto;
    font-size: 30px;
    font-family: 'PT Serif', serif; 
    font-weight: 600;
    margin-left: 10px;
    
    
}
.logo_txt{
    font-family: 'PT Serif', serif; 
    font-weight: auto;
    color: darkblue;    
}
.j{
    font-size: 50px;    
    font-weight: 800;
    color: rgb(104, 3, 3);    
}
.search .width{
    width: 20%;
} 
.search-box {
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.search-box i {
    width: 5%;
    text-align: center;
    font-size: 20px;
    opacity: 17px;
    padding: 15px 20px;
    font-size: 17px;   
    color: black; 
}
.search-box input {
    width: 100%;
    padding: 10px;
}
::placeholder{
    font-size: 20px;
}
.search-box span{
    width: 20%;
    opacity: 0.5;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px; 
    color: black;
}
.cart {
    position: relative;
}
.search .cart span {
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    background-color: rgb(228, 87, 87);
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.search .f_flex {
    justify-self: end;
    display: flex;
}

/*________________Serch______________________*/

.categories{
    padding: 0 30px;
    background-color: rgb(217, 217, 243);
    border-radius: 5px;
    height: 6vh; 
        
}
.cat {    
    font-size: 5px; 
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;    
    display: flex;
    
}
.categories h4 {
    font-weight:500;
    margin-top: 8px;
}
.categories h4 i{
    margin-left: 10px;    
}
header {
    height: 8vh;
    box-shadow: -1px 15px 17px -8px rgba(0,0,0,0.1);
}
header ul{
    line-height: 8vh;
}
header ul li{
    display: inline-block;
    margin-left: 30px;
}
header ul li a{
    font-size: 15px;
    font-weight: 400;
    transition: 0.5s;
}
header ul li a:hover{
    color: rgb(226, 77, 7);
}
.open{
    display: none;
}
.search.active {
    height: 12vh; 

    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.card input{
    margin-left: 50px;
    width: 25%;
    padding: 5px;
    border: 1px solid #ccc;    
}



